---
import HeaderLink from './HeaderLink.astro';
import { IoLogoGithub } from "react-icons/io";
import FootprintIcon from './icons/footprint.tsx';
import ThemeToggle from "./ThemeToggleButton"
---
<!-- 
	<div class="flex-1"></div> : WFT
- 
-->

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
	<div class="mx-auto max-w-3xl">
		<nav class="flex items-center gap-3 text-base">
			<a href="" class="group">
				<FootprintIcon/>
				<h2 class="font-semibold tracking-tighter font-proxima-soft text-lg"><a href="/">Don Vito</a></h2>
			</a> 
			<div class="items-center gap-6 hidden md:flex">
				<HeaderLink href="/about" class="text-center gap-6 hidden md:flex">About</HeaderLink>
				<HeaderLink href="https://github.com/JOI-JOE/craftzgoat-uses" target="_blank">
					<IoLogoGithub />
					Source
				</HeaderLink>
			</div>
			<div class="flex-1"></div>
			<ThemeToggle client:load/>
		</nav>
	</div>
</header>
